/* write your carousel css in this file */
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%; /* Full width container */
  }
  
  .arrow {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    z-index: 2; /* Ensure arrows are above other content */
  }
  
  .arrow:hover {
    background: rgba(255, 255, 255, 0.8);
  }
  
  .arrow-left {
    left: 10px; /* Position the left arrow */
  }
  
  .arrow-right {
    right: 10px; /* Position the right arrow */
  }
  
  .image-container {
    position: relative;
  }
  
  img {
    width: 100%; /* Ensure image takes up full width */
    height: auto; /* Maintain aspect ratio */
  }
  
  .caption {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px; /* Add some space between title and subtitle */
}

  .subtitle {
    font-size: 1rem;
    color: white;
}